/* CSS declarations go here */

h1 {
  border-bottom-style: solid;
  padding-bottom: 10px;
}

h2 {
  border-top-style: solid;
  padding-bottom: 5px;
  text-align: center;
}

h4 {
  color: red;
}

.bottom {
  position:fixed;
  top:95%;
  left: 35%;
  text-align: center;
  color:green;
}

.formlabel {
  display: inline-block;
  padding-right:10px;
  padding-left:10px;
  font-weight: bold;
  font-size: 100%;
}

input {
  margin-top:8px;
}

body {
  margin: 10px;
}

button {
  margin: 18px;
  position: relative;
  top: -10px;
}

.day {
  margin-top:8px;
}

form {
  padding-top:12px;
}

.todaysgroup {
  padding-top:10px;
}

.groups {
  list-style: none;
  text-align: center;
}
.people {
  font-weight: none;
  list-style: none;
}

.days {
  float: left;
  position: relative;
  margin: 20px;
}

.hiddenday {
  display: none;
}
